{% extends 'base.html.twig' %}

{% block title %}New Miejscowosc{% endblock %}

{% block body %}
    <h1>Create new Miejscowosc</h1>

    {{ include('miejscowosc/_form.html.twig') }}

    <a href="{{ path('app_miejscowosc_index') }}">back to list</a>
{% endblock %}
